<div class="stream-controls">
  <div class="btn-group btn-group-lg" role="group">
    <button type="button" class="btn btn-secondary" (click)="resume()">Resume</button>
    <button type="button" class="btn btn-secondary" (click)="pause()">Pause</button>
    <button type="button" class="btn btn-secondary" (click)="stop()">Stop</button>
  </div>
  <ul>
  <div *ngIf="radioStations.stations.length > 0">
    <li *ngFor="let station of radioStations.stations" class="stream-item" (click)="play(station.url)">
      {{station.description}}
    </li>
  </div>
  </ul>
</div>
