.stream-controls {
  margin-top: 75px;
  margin-left: 50px;
}

.stream-item {
  color: blue;
  cursor: pointer;
}

.stream-item:hover {
  font-style: italic;
  font-weight: bold;
}

.stream-item:active {
  color: red;
  font-style: italic;
  font-weight: bold;
}
